body {
    padding: 2rem;
}



.box {
    background-color: lightblue;
    border: 1px solid blue;
    min-height: 50px;
    font-size: 2rem;
}
.card {
    width: 500px;
}

/* .card-body {
    color: deeppink;
} */

/* nav {
    background-color: red;
} */

